@use '../../pages/Admin/colors' as color;

.paginated-table {
  .table-cell::after,
  .table-header-cell::after {
    content: 'Placeholder';
  }

  .table-cell,
  .table-header-cell {
    padding: 0.5rem;
    letter-spacing: 0.5px;
  }

  .table-cell {
    color: color.$text;
  }

  .table-header-cell {
    font-weight: bold;
    color: color.$secondary;
  }
}

.table-result-counter {
  display: inline-block;
  padding: 0.2rem;

  .text {
    font-weight: normal;
    font-size: 0.9rem;
    color: color.$secondary;
    line-height: 1;
  }

  .number {
    font-weight: bold;
  }
}
