@use '../../pages/Admin/colors' as color;
@use '../../assets/fontes' as font;

@import '../../assets/variables';
@import './options';

@include font.inter;

:root {
  --h-margin: 2rem;
  --v-margin: 4rem;
}

@media ($smartphone-and-tablet-size) {
  :root {
    --v-margin: 2rem;
    --h-margin: 5px;
  }
}

.admin-panel {
  background-color: color.$primary;
  height: calc(100% - var(--header-height));
  padding: var(--v-margin) var(--h-margin);
  display: flex;

  &__working-area {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__content-frame {
    overflow-x: auto;
    border: solid 2px color.$secondary;
    padding: calc(#{$edge-button-height} * 0.75) 1rem;
    display: flex;
    flex: 1;
  }

  &__page-title {
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;

    @media ($smartphone-and-tablet-size) {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }

  &__banner {
    background-color: color.$secondary;
    margin-top: $banner-top-margin;
    margin-bottom: $banner-offset-bottom;
    margin-right: calc($base-margin * 3);
    padding: 0.5rem 1rem;
    border-radius: 0 10px 10px 0;
    max-width: $max-banner-width;

    @media ($smartphone-and-tablet-size) {
      margin-right: $base-margin;
    }
  }

  &__banner-text {
    color: color.$primary;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__edge-btn-container {
    // Negative margin is more predictable than
    // positive 'top' property with relative position
    margin-bottom: calc($edge-button-height / 2 * -1);

    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: $edge-button-margin-between;
  }

  &__edge-btn {
    min-width: 150px;
    max-width: 300px;
    padding: 0 1rem;
    transition:
      margin 0.1s ease,
      padding 0.1s ease;
    height: $edge-button-height;
    overflow-x: visible;
    overflow-y: hidden;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: $edge-button-letter-spacing;
    margin-left: $edge-button-margin-between;
    border-radius: 0.5rem;
    border: solid 2px color.$secondary;
    background-color: color.$primary;

    &:hover {
      border-color: color.$secondary;
      background-color: color.$secondary;
      color: color.$primary;
      cursor: pointer;

      // Dealing with margins not collapsing
      margin-right: calc($edge-button-margin-between / 2);
      margin-left: calc($edge-button-margin-between * 1.5);
    }

    &:active {
      padding: 0 1.5rem;
    }
  }
}
